{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<div class="container" style="padding-top:5%">
    <div class="row justify-content-center">
        <div class="col-3">
        <div id="productImages" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              {% for image in product.images.all %}
            <li data-target="#productImages" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}></li>
              {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for image in product.images.all %}
            <div class="carousel-item{% if forloop.first %} active{% endif %}">
              <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.title }}">
            </div>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#productImages" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Previous" %}</span>
          </a>
          <a class="carousel-control-next" href="#productImages" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Next" %}</span>
          </a>
        </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
        <div class= "h3 my-auto">{{ product.name }}</div>
        <div>
            <p class="mb-1 font-weight-bold">{{ product.price|floatformat:2 }} <i class="fas fa-lira-sign"></i></p>
            <p class="mb-1">Rating: {% if product.average_rating %}{{ product.average_rating }}{% else %}{% trans "N/A" %}{% endif %}</p>
            {% for property in main_properties %}
            <p class="{% if forloop.last %}mb-5{% else %}mb-1{% endif %}">{{ property.option.name }}: {{ property.value }}</p>
            {% endfor %}
            <button type="button" class="btn btn-danger add-basket-item" data-product-slug="{{ product.slug }}" data-quantity="1">
                <i class="fas fa-shopping-basket"></i> {% trans "Add to basket" %}
            </button>
        </div>
        </div>
    </div>
    <div class="clean-block"></div>
    <div>
        <div class= "h3 my-auto">{% trans "Additional details" %}</div>
        <table class="table table-bordered">
            <tbody>
            {% for property in additional_properties %}
              <tr>
                <th scope="row">{{ property.option.name }}</th>
                  <td>{% if property.value == "check" %}<i class="fa fa-check-circle green-text"></i>{% elif property.value == "no-check" %}<i class="fa fa-times-circle red-text"></i>{% else %}{{ property.value }}{% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}