<!DOCTYPE html>
{% load i18n static webtags %}{% get_current_language as LANGUAGE_CODE %}{% get_available_languages as available_languages %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% endblock %} | Marketplace</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% for lang_code, lang_name in available_languages %}
    <link rel="alternate" hreflang="{{ lang_code }}" href="{{ request.path|replace_language:lang_code }}">{% endfor %}

    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/extra.css" %}">
    
    {% block extraHead %}{% endblock %}
</head>

<body>
<!-- navigation bar starts -->
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar main-marketplace-navigation" style="position:relative" data-basket-api="{% url "basket_management_ajax" %}">
    <div class="container"><a class="navbar-brand logo" href="{% url "homepage" %}">Marketplace</a>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user nav-icon"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'basket' %}"><i class="fa fa-shopping-cart nav-icon"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block subNavigation %}
<div class="nav-scroller bg-white shadow-sm container">
  <nav class="nav nav-underline">
      {% for category in categories %}
        <a class="nav-link{% if product_category and product_category == category %} sub-nav-active{% endif %}" href="{% url 'listing:product_list' category.slug %}">{% if category.template_icon %}<i class="{{ category.template_icon }}"></i> {% endif %}{{ category.name }}</a>
      {% endfor %}
  </nav>
</div>
{% endblock %}
<!-- navigation bar ends -->

{% block content %}{% endblock %}

<!-- footer starts -->
<footer class="page-footer dark" style="display:block; font-size: 16px;">
    <div class="container">
        <div class="row" style="margin-top: 5px;padding-top: 0px;">
            <div class="col-sm-3">
                <h5 class="text-center" style="font-size: 12px;">{% trans "Site Map" %}</h5>
            </div>
            <div class="col-sm-3">
                <h5 class="text-center" style="font-size: 12px;">{% trans "Legal Terms" %}</h5>
            </div>
            <div class="col-sm-3">
                <h5 class="text-center" style="font-size: 12px;">{% trans "Privacy and Cookies" %}</h5>
            </div>
            <div class="col-sm-3">
                <h5 class="text-center" style="font-size: 12px;">{% trans "Contact Us" %}</h5>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p style="font-size: 12px;">© 2020 <a href="https://gitlab.com/produck/marketplace/-/graphs/master" target="_blank"><i class="fab fa-gitlab"></i> Marketplace Contributors</a></p>
    </div>
</footer>
<!-- footer ends -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/script.min.js" %}"></script>
<script type="text/javascript">
    let Translations = {
        "added_to_basket": "{% trans "Added to basket" %}"
    }
</script>
<script type="text/javascript" src="{% static "js/extra.js" %}"></script>
{% block extraJS %}{% endblock %}
</body>
</html>
